@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&display=swap');


html, body {
    font-family: 'EB Garamond', serif;    
    margin: 0;
    padding: 0;
}

body {
    
    background-color: rgb(192, 184, 184);
}

.wrapper {
    padding: 3em;
}
.content {
    background-image: url(seoul_skyscraper.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
a {
    text-decoration: none;
}

img.small-logo{
    max-width: 3em;
}

a.logo {
    color:rgb(35, 44, 36);
    padding-left: 1.5em;
    padding-bottom: 2em;
    font-weight: bolder;
    font-size: 2.3rem;
    margin: .2em, 1em;
}
img {
    width: 100%;
    position: absolute;
    z-index: -1;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
 
 
nav a {
    padding: .5em;
    margin: 2.5em;
    text-decoration: none;
    color:rgb(139, 15, 15);
    font-size:1.5rem;
    font-weight: bold;
    
}

nav a:hover,
nav a:focus {
    color: rgb(207, 22, 8);
}

.hero-left {
    text-align: center;
}

h1 {
    color:goldenrod;
    font-size: 3.5rem;
    width: 80%;
    margin: .5em;
    text-align: left;
}

.hero-left p {
    font-size: 1.5em;
    width: 80%;
    margin: 1em auto;
}
.wrapper {
    padding-bottom: 0.1em;
    padding-right: .5em;
}

ul.list {
    Justify-content: space-between;
    margin: 5em .5em;  
    text-transform: capitalize;
    font-size: 3em;
    font-weight: 600;   
    padding: 1em;
    color:goldenrod;
    margin-bottom: 1em;
    text-align: left;
    text-shadow: black;
}

@media (min-width: 1000px) {
    ul.list {
        margin: 1em;  
        padding: 1em;
        color:goldenrod;

    }
}

@media (min-width: 390px) {
    header {
        display: flex;
        justify-content: space-between;
    }
    nav ul {
        margin-top: .2em;
    }
    nav ul li:nth-of-type(3) {
        margin-right: 0;
    }

    ul.list {
        Justify-content: space-between;
        margin-top: 4em .5em;  
        text-transform: capitalize;
        font-size: 3em;
        font-weight: 600;  
        padding: 1em;
        margin-bottom: 1em;
        text-align:right;
        text-shadow: black;
    }
}



