body {
    margin: 0;
    font-family: 'Lora', serif;
    background-color: black;
}

/* =================
Typography
================= */
a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    background: #d6deee;   
    padding: 1.2em 0;
}

.site-title {
    white-space: nowrap;
    vertical-align: middle;
}

img.small-logo{
    max-width: 2.8em;
}

a.logo {
    padding-left: .2em;
    color: #030c01;
    font-weight: 600;
    font-size: 2rem;   
}

.subtitle {
    font-weight: 600;
    color: goldenrod;
    font-size: 2rem;
    margin: 1em;
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

/* =================
Layout
================= */

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 675px) {
    .container-nav {
        flex-direction: column;
    }    
    header {
        text-align: center;
    }
}

.list {
    font-size: 2rem;
    font-weight: 600;
    color: goldenrod;
    text-align-last: left;
}
/* navigation */
span {
    color: gold;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav li {
    font-weight: 600;
    margin-left: 1em;
    text-transform: capitalize;
    padding-bottom: 1em;
}

ul.list {
    justify-content: space-between;
    flex-direction: column;
    margin: 1em;  
    text-transform: capitalize;
    font-size: 1.8rem;
    font-weight: 600;   
    padding: 2em 0;
    color:goldenrod;
    margin-bottom: 1em;
    text-align: left;
    text-shadow: black;
}
.btn {
    text-transform: uppercase;
    text-decoration:none;
    display: inline-block;
    letter-spacing: 1px;
    color: #0a2e03;
    background-color: rgb(223, 177, 62);
    font-weight: 600;
    font-size: 1.2rem;
    padding: .3em 0.5em;
    margin-top: .3em;
    cursor: pointer;
}

nav a:hover,
nav a:focus {
    color: rgb(187, 11, 11);
}

.content {
    background-repeat: no-repeat;
    max-width: 100%;
    min-width: 60%;
    min-height: 60%;
    max-height: 100%;
    background-image: linear-gradient(120deg, rgba(0,0,0,0.7), rgba(0,0,0,0.6) 30%, rgba(0,0,0,0.4) 40%, rgba(0,0,0,0) 50%, rgba(0,0,0,0)), url("../image/seoul_skyscraper.jpg");
    background-size: 100%;
    z-index: -1;

}
@media (max-width: 675px) {
    nav ul {
        flex-direction: column;
        text-transform: capitalize;
    }
    
    nav li {
        margin: .5em 0;
        text-transform: capitalize;
    }
}


footer {
    line-height: 1.2rem;
    font-size: .8rem;
    background: black;
    color: gray;
    text-align: center;
    padding: 3em 0;
    font-weight: 500;
}